.proInfo {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 21px;
  display:block;
  float: left;
  width:60%;
  margin-top:12px;
  font-weight:bold
}

.proInfo li{
  margin-bottom:8px
}

.picture {
  position:relative;
  display: inline-block;
  width: 20%;
  margin-left:-400px
}

.proBtn {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  display: inline-block;
  margin-left: 150px
}
/*.proList {
 
}*/
.quans{
  width:50px
}
.change {
  
  width: 100px;
  height: 25px
}
.homePro li {
  padding: 10px;
  list-style-type: none;
 
}


.homePro {
  width: 100%;
  margin-right: 10% ;
  position:relative;
 
}
